/*! 
*Ludwig style 
*/

.left-img {
	float:left;
	margin: 80px 0 0 0;
	width: 450px;
	height: 450px;



}

.main-text{

	position: relative;
  text-align: center;
	margin: 80px 0 20px 475px;
	height: 450px;
	

}



.circular--landscape {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: 10%;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: 0px;
  margin-top:-15x;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}